@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply w-full text-left my-3 mx-0 cursor-pointer
     border-2 border-gray-500 px-2 py-1 rounded-lg
      hover:bg-black hover:text-white hover:transition-all 
      ease-in-out duration-75 ;
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background-color: #ff9393;
}